* {
    margin: 0;
    padding: 0;
}

img {
   max-width: 100%;
   height: auto;
}

.container {
   width: 100%;
   padding: 0 13px;
   margin: 0 auto;
}

@media screen and (min-width: 992px) {
   .container {
      max-width: 960px;
   }
}

@media screen and (min-width: 1200px) {
   .container {
      max-width: 1185px;
   }
}

.skip-link {
   position: absolute;
   top: -50px;
   left: 0;
   background-color: #bf1722;
   color: #fff;
   padding: 8px;
   z-index: 1001;
}

.skip-link:focus {
   top: 0;
}

.list-inline {
   list-style: none;
   display: flex;
   align-items: center;
}

.btn-like-container {
   position: fixed;
   bottom: 0px;
   right: 0;
   z-index: 10;
   margin-right: 1rem;
   margin-bottom: 4rem;
}

.btn-like {
   background-color: #2ecc71;
   border: 0;
   width: 50px;
   height: 50px;
   border-radius: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}

.btn-like > .has-icon {
   color: #fff;
}

.btn-like.is-active > .has-icon {
   fill: #fff;
}

@media screen and (min-width: 992px) {
   .btn-like-container {
      margin-right: 2.5rem;
   }
}

.loader-indicator,
.information-error {
   min-height: 300px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.loader-indicator > .inner {
   text-align: center;
}

.loader-indicator > .inner svg {
   animation: rotateLoader 1s infinite;
   transform-origin: center;
}

.loader-indicator > .inner .text-explanation {
   margin-bottom: 0;
   margin-top: 1rem;
   animation: fadeOutLoader 1s infinite;
   font-size: 20px;
}

.information-error > .inner {
   text-align: center;
   padding: 15px 25px;
   background-color: #ffffff61;
   border-radius: 6px;
}

.information-error > .inner .text {
   font-size: 20px;
   margin-top: 1rem;
}

@keyframes rotateLoader {
   from {
      opacity: 1;
   }

   to {
      transform: rotate3d(0, 0, 1, 200deg);
      opacity: 0;
   }
}

@keyframes fadeOutLoader {
   from { opacity: 1; }
   to { opacity: 0; }
}
